[submodule "EmsApi.Client"]
	path = EmsApi.Client
	url = https://github.com/ge-flight-analytics/EmsApi.Client.git
[submodule "Rems"]
	path = Rems
	url = https://github.com/ge-flight-analytics/Rems.git